body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

#title {
    color: black;
    background-color: white;
}



.container-fluid {
    padding: 3% 15%;
}
h1 {

    font-size: 3.5rem;
}

#intro-quote {
    padding-top: 7.5rem
}

/* h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6.5rem;
} */

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

p {
    color: gray;
}
/* Navigation Bar */
.navbar {
    padding-bottom: 4rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
}

.nav-link {
    
}

/* Download Button */
.download-button {
    margin: 30px 10px 10px 0;
    font-family: 'Montserrat', sans-serif;
}

/* Title image */
.title-image {
    width: 60%;
    margin: 0 0 0 80px;
}

/* Feature section */
#features {
    padding: 2% 2%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-icon {
    font-size: 4rem; 
    color: rgb(38, 144, 186);
    
}

/* Testimonials section */
#testimonials {
    padding: 2%; 
    text-align: center;
    color: black;
    background-color: white;
}

.testimonial-image {
    width: 70%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

.subscribe {
    font-size: 30px;
}


.carousel-control-prev-icon {
    background-color: black;
}

.carousel-control-next-icon {
    background-color: black;
}

.register-form {
    padding: 0 10%;
}

.action {
    color: black;
    padding-top: 1%;
    text-align: right;
}

.phone {
    font-size: 100px
}


